.locate {
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}
/*
.locate > button {
  height: 200px;
}*/

.button {
  color: white;
  /*this stops it from underlining*/
  text-decoration: none; 
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  background-color: #1db954;
}